<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Angular Test</title>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular/angular-resource.js"></script>
    <script type="text/javascript" src="js/app_config.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body ng-app="testAngularModule">
    <div ng-controller="mainController">
        <button ng-click="loadPage()">Reload</button>
        <table><caption>List View</caption>
            <tr>
                <th>ID</th>
                <th>Person Name</th>
                <th>Birthdate</th>
                <th>Description</th>
                <th>Register date</th>
            </tr>
            <tr ng-repeat="person in persons"><a href="detail.html">
                <td>{{person.personId}}</td>
                <td>{{person.personName}}</td>
                <td>{{person.personBirthdate}}</td>
                <td>{{person.personDescr}}</td>
                <td>{{person.datAdd}}</td>
                </a>
            </tr>
        </table>
    </div>
</body>
</html>